<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="Pages/layout.html" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
    <title layout:fragment="Titre">Informations</title>
</head>


<div class="container-fluid" layout:fragment="contenu">


    <div class="row">


        </div>




    <div class="row ">


    <div class="card col-sm-6 col-md-6"  th:each="article : ${articles}">
        <img class="card-img-top" th:src="@{${article.urlToImage}}" alt="Image Article">
        <div class="card-body">
            <h3 class="card-title" th:text="${article.title}">Le Titre</h3>
            <hr>


                <h5 th:text="${(article.content == 'null' ) ? '' : article.content}"> </h5>
                <h6 th:text="${'Source : '+ article.source.name + ' le '+ article.publishedAt}"></h6>


            <hr>

            <a target="_blank" class="btn btn-primary" type="button" th:href="@{${article.url}}">
                Plus
            </a>

            <p>

            </p>

        </div>

    </div>

</div>

    <!-- Le Petit Menu -->
    <div class="row">

        <a th:href="@{'/information/Pays/'+${pays.id}+'/Sante'}" class="col-sm-4 col-md-2">
            <div class="info-box mb-3 bg-warning animated bounce">
                <div class="info-box-content">
                    <span class="info-box-text" th:text="${'Santé'}">Santé</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>


        <a th:href="@{'/information/Pays/'+${pays.id}+'/Divertissement'}" class="col-sm-4 col-md-2">
            <div class="info-box mb-3 bg-warning animated bounce ">
                <div class="info-box-content">
                    <span class="info-box-text" th:text="${'Divertissement'}"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>


        <a th:href="@{'/information/Pays/'+${pays.id}+'/Sport'}" class="col-sm-4 col-md-2">
            <div class="info-box mb-3 bg-warning animated bounce ">
                <div class="info-box-content">
                    <span class="info-box-text" th:text="${'Sport'}"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>


        <a th:href="@{'/information/Pays/'+${pays.id}+'/Affaire'}" class="col-sm-4 col-md-2">
            <div class="info-box mb-3 bg-warning animated bounce ">
                <div class="info-box-content">
                    <span class="info-box-text" th:text="${'Affaire'}"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>

        <a th:href="@{'/information/Pays/'+${pays.id}+'/Technologie'}" class="col-sm-4 col-md-2">
            <div class="info-box mb-3 bg-warning animated bounce ">
                <div class="info-box-content">
                    <span class="info-box-text" th:text="${'Technologie'}"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>

    </div>

    <!--  -->

</div>
</html>
