<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="Titre">Connexion</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mdb.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-icons.min.css}"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/apartement.jpg}" />


    <link rel="stylesheet" type="text/css" th:href="@{/adminlte/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/adminlte/dist/css/adminlte.min.css}">

</head>



<body th:fragment="body" style="font-family: 'Droid Sans Mono Slashed'; font-size: 18px" class="hold-transition sidebar-mini">

<br>
<br>


<div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">
        <p>
            <img class="img-circle elevation-2" th:src="@{img/login.jpg}" alt="Login Image">
        </p>
    </div>

    <div class="col-lg-4"></div>
</div>


<div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4" th:if="${(echecConnexion) == 'Oui'}">
        <div id="echecConnexion" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <strong>Echec !</strong> <br>
            Nom d'utilisateur ou Mot de Passe incorrect.
        </div>
    </div>

    <div class="col-lg-4"></div>
</div>



<div class="row">

    <div class="col-lg-4"></div>

    <div class="col-lg-4">

        <!--/*@thymesVar id="utilisateur" type="com.example.demo.Model.Utilisateur"*/-->
            <form th:action="@{/}" th:object="${utilisateur}" method="post">
                <input
                        type="text"
                        name="username"
                        id="username"
                        class="form-control"
                        placeholder="Username"
                        required>
                <br>

                <input type="password"
                       name="password"
                       id="password"
                       class="form-control"
                       placeholder="Password"
                       required>
                <br>

                <input type="submit" class="btn btn-primary" value="Connecter">
            </form>

    </div>
    <div class="col-lg-4"></div>
</div>

</div>

</body>



<script type="text/javascript" th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- AdminLTE -->
<script type="text/javascript" th:src="@{adminlte/dist/js/adminlte.js}"></script>


<!-- OPTIONAL SCRIPTS -->
<script type="text/javascript" th:src="@{/adminlte/dist/js/demo.js}"></script>
<script type="text/javascript" th:src="@{/adminlte/dist/js/pages/dashboard3.js}"></script>

<script>
    $(document).ready(function () {

        setInterval(cacher,3000);
        function cacher() {
            $("#echecConnexion").remove();
        }
    })
</script>

</html>